    <footer class="footer footer-black footer-big">
        <div class="container">
            <div class="row">
                <div class="col-md-2 text-center col-sm-3 col-12 ml-auto mr-auto">
                    <h4>Seekh by Rexia</h4>
                    <div class="social-area">
                        <a class="btn btn-just-icon btn-round btn-facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-just-icon btn-round btn-twitter">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-just-icon btn-round btn-google">
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-9 ml-auto mr-auto col-sm-9 col-12">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-6">
                            <div class="links">
                                <ul class="uppercase-links stacked-links">
                                    <li>
                                        <a href="#paper-kit">   Home   </a>
                                    </li>
                                    <li>
                                        <a href="#paper-kit">    Discover    </a>
                                    </li>
                                    <li>
                                        <a href="#paper-kit">    Blog    </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-6">
                            <div class="links">
                                <ul class="uppercase-links stacked-links">
                                    <li>
                                        <a href="#paper-kit">    Contact Us    </a>
                                    </li>
                                    <li>
                                        <a href="#paper-kit">    We're Hiring    </a>
                                    </li>
                                    <li>
                                        <a href="#paper-kit">   About Us    </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-6">
                            <div class="links">
                                <ul class="uppercase-links stacked-links">
                                    <li>
                                        <a href="#paper-kit">    demo1    </a>
                                    </li>
                                    <li>
                                        <a href="#paper-kit">    demo2    </a>
                                    </li>
                                    <li>
                                        <a href="#paper-kit">    demo3   </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </footer>
    
</body>
    <script src="/jquery.min.js" type="text/javascript"></script>
    <script src="/popper.min.js" type="text/javascript"></script>
    <script src="/bootstrap.min.js" type="text/javascript"></script>
    <!--    Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="/bootstrap-switch.js"></script>
    <!--    Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="/nouislider.min.js" type="text/javascript"></script>
    <script src="/bootstrap-selectpicker.js"></script>
    <!--    Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="/moment.min.js"></script>
    <script src="/bootstrap-tagsinput.js"></script>
    <!--    Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
    <script src="/bootstrap-datetimepicker.js"></script>
    <!--    Photoswipe files -->
    <script src="/photoswipe.min.js"></script>
    <script src="/photoswipe-ui-default.min.js"></script>
    <script src="/init-gallery.js"></script>
    <!--    for Jasny fileupload -->
    <script src="/jasny-bootstrap.min.js"></script>
    <!--    Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
    
    <script src="/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="/paper-kit.min.js" type="text/javascript"></script>

</html>