</body>

    <script src="/jquery.min.js" type="text/javascript"></script>
    <script src="/popper.min.js" type="text/javascript"></script>
    <script src="/bootstrap.min.js" type="text/javascript"></script>
    <!--    Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="/bootstrap-switch.js"></script>
    <!--    Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="/nouislider.min.js" type="text/javascript"></script>
    <script src="/bootstrap-selectpicker.js"></script>
    <!--    Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="/moment.min.js"></script>
    <script src="/bootstrap-tagsinput.js"></script>
    <!--    Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
    <script src="/bootstrap-datetimepicker.js"></script>
    <!--    Photoswipe files -->
    <script src="/photoswipe.min.js"></script>
    <script src="/photoswipe-ui-default.min.js"></script>
    <script src="/init-gallery.js"></script>
    <!--    for Jasny fileupload -->
    <script src="/jasny-bootstrap.min.js"></script>
    <!--    Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
    
    <script src="/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="/paper-kit.min.js" type="text/javascript"></script>

    <script>
        $('.navbar-nav').on('click','li',function(){
            $('.navbar-nav li.active').removeClass('active');
            $(this).addClass('active')
        })
    </script>
</html>
