<% var user = currentUser; %>
<% var course = course; %>

<% include partials/headerLoggedIn %>
<div class="page-header" data-parallax="true" style="background-image: url('https://images.unsplash.com/photo-1561815820-1004cd9a3b57?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1080')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="motto">
            <h1 class="title-uppercase text-md-left text-center px-5"><%=course.dataValues.title%> - <%=course.dataValues.fullForm%></h1>
            <h3 class="text-center text-md-left px-5"><%=course.dataValues.description%></h3>
            <br/>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4 text-md-left">
                        <a href="#pablo" class="btn btn-warning btn-round btn-lg">
                            <i class="fa fa-share-alt" aria-hidden="true"></i> Enroll ME!
                        </a>            
                    </div>
                    <div class="col-12 col-md-8 text-md-left text-center pt-4 pt-md-0">
                        <h6 class="pl-0">More info about enrollment</h6>      
                        <h6 class="text-uppercase">
                            2500 already enrolled!  
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="main">
        <div class="section section-white courseSplash">
            
        </div>
    </div>
</div>


<% include partials/footer %>
