<% include partials/form %>

<div class="register-page full-screen">
    
    <div class="wrapper">
            <div class="page-header" style="background-image: url('https://images.unsplash.com/photo-1452270378797-c66dcc949a3f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
                <div class="filter"></div>
                <div class="container">
                    
                    <div class="row registerRow">
                        <div class="col-lg-6 col-md-6 col-12 mr-auto">
                            <div class="row">
                                <div class="col-1 col-md-0"></div>
                                <div class="col-10 col-md-12">
                                    <div class="card card-register mt-5 mt-md-0">
                                        <h3 class="card-title text-center">Subjects</h3>
                                        <div class="division">
                                            <div class="line l"></div>
                                            <div class="line r"></div>
                                        </div>
                                        <form class="register-form" method="POST" action="formssubjects">
                                            <label for="ChapterID" >ChapterID</label>
                                            <!-- <input type="text" class="form-control" placeholder="subjectID" name="subjectID" id="subjectID" > -->
                                            <input type="text" class="form-control" placeholder="subjectName" name="subjectName" id ="subjectName" >
                                            <input type="text" class="form-control" placeholder="field" name="field" id="field">
                                            <!-- <input type="text" class="form-control" placeholder="createdAt" name="createdAt" id="createdAt"> -->
                                            <!-- <input type="text" class="form-control" placeholder="updatedAt" name="updatedAt" id="updatedAt"> -->
                                            <button class="btn btn-block btn-round" id="Save" type="submit">Save</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-1 col-md-0"></div>                            
                            </div>
                        </div>      
                    </div>
                </div>
    
    
                <div class="demo-footer text-center">
                    <h6>©
                    <script>
                        document.write(new Date().getFullYear())
                        document.getElementById("Save").addEventListener("click", function(){
                                               
                         });
                    </script>, made with <i class="fa fa-heart heart"></i> by Rexia</h6>
                </div>
              </div>       
            
              
    
              
    </div>
</div>
    
<%include partials/formsFooter %>