<% var subject = subject; %>
<% var arrayOfSubjects = arrayOfSubjects; %>

<% include partials/form %>

<div class="register-page full-screen">
    
    
    <div class="wrapper">
            <div class="page-header" style="background-image: url('https://images.unsplash.com/photo-1452270378797-c66dcc949a3f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
                <div class="filter"></div>
                <div class="container">
                    
                    <div class="row registerRow">
                        <div class="col-lg-6 col-md-6 col-12 mr-auto">
                            <div class="row">
                                <div class="col-1 col-md-0"></div>
                                <div class="col-10 col-md-12">
                                    <div class="card card-register mt-5 mt-md-0">
                                        <h3 class="card-title text-center">chapters</h3>
                                        <div class="division">
                                            <div class="line l"></div>
                                            <div class="line r"></div>
                                        </div>
                                        <form class="register-form" method="POST" action="formschapters">
                                                <input type="text" class="form-control" placeholder="ChapterName" name="ChapterName" id ="ChapterName" >
                                               
                                                <select class="form-control" id="subjectName" name="subjectName">
                                                    <%arrayOfSubjects.forEach((subject)=>{%>
                                                    <option value="<%=subject.dataValues.subjectName%>"><%=subject.dataValues.subjectName%></option>
                                                    <%});%>
                                                </select>
                                                
                                                <!-- <div class="dropdown" id="Drop">
                                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                         Subject Names
                                                        </button>

                                                        <select class="form-control" id="sel1">
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                          </select>

                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                            <%arrayOfSubjects.forEach((subject)=>{%>
                                                            <button class="dropdown-item" type="button"  value="<%=subject.dataValues.subjectName%>"><%=subject.dataValues.subjectName%></button>
                                                            <%});%>
                                                        </div>
                                                 </div> -->
                                                <button class="btn btn-block btn-round" id="Save">Save</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-1 col-md-0"></div>                            
                            </div>
                        </div>      
                    </div>
                </div>
    
    
                <div class="demo-footer text-center">
                    <h6>©
                    <script>
                        document.write(new Date().getFullYear())
                        document.getElementById("Save").addEventListener("click", function(){
                                               
                         });
                    </script>, made with <i class="fa fa-heart heart"></i> by Rexia</h6>
                </div>
              </div>       
            
              
    
              
    </div>
     </div>
    
    <% include partials/formsFooter %>
